@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_Regular/Inter-Regular.ttf),
    url(../fonts/Inter_Regular/Inter-Regular.eot),
    url(../fonts/Inter_Regular/Inter-Regular.woff),
    url(../fonts/Inter_Regular/Inter-Regular.woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_Medium/Inter-Medium.ttf),
    url(../fonts/Inter_Medium/Inter-Medium.eot),
    url(../fonts/Inter_Medium/Inter-Medium.woff),
    url(../fonts/Inter_Medium/Inter-Medium.woff2);
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_SemiBold/Inter-SemiBold.ttf),
    url(../fonts/Inter_SemiBold/Inter-SemiBold.eot),
    url(../fonts/Inter_SemiBold/Inter-SemiBold.woff),
    url(../fonts/Inter_SemiBold/Inter-SemiBold.woff2);
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_Bold/Inter-Bold.ttf),
    url(../fonts/Inter_Bold/Inter-Bold.eot),
    url(../fonts/Inter_Bold/Inter-Bold.woff),
    url(../fonts/Inter_Bold/Inter-Bold.woff2);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}