@import "fonts";
@import "flex";
@import "spacing";
@import "variables";

// reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1F2937;
}
html, body{
    height: 100%;
}
a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1F2937;
    text-decoration: none;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
ul,
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
p, span{
    padding: 0;
    margin: 0;
}

//

._wrapper{
    min-width: 100%;
    background: #fff;
}

.container{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

// aside

.aside{
    min-width: 255px;
    min-height: 100vh;
    background: $dark__background;

    padding: 30px 10px;

    .aside-main-panel,
    .aside-footer-panel{
        .aside-logo{
            margin-left: 10px;
        }
        
        .aside-panel{
            margin-top: 40px;

            h3{
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: #6B7280;
                text-transform: uppercase;

                margin-left: 10px;
            }

            .aside-list{
                .aside-item{
                    border-radius: 6px;

                    padding: 10px;
                    margin-top: 1px;

                    transition: 1s;
                    cursor: pointer;

                    &:hover,
                    &:focus,
                    &:active{
                        background: #4B5563;
                    }

                    .aside-link{
                        position: relative;
                        display: inline-block;
                        
                        span{
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #D1D5DB;

                            padding-left: 34px;
                        }
                    }

                    .aside-link__dashboard{
                        &::before{
                            position: absolute;
                        content: '';
                        top: 2px;
                            background-image: url('../img/icons_aside/icon_aside_dashboard.png');
                        background-size: 100%;
                        width: 18px;
                        height: 18px;
                        }
                    }
                    .aside-link__tasks{
                        &::before{
                            position: absolute;
                        content: '';
                        top: 2px;
                            background-image: url('../img/icons_aside/icon_aside_tasks.png');
                        background-size: 100%;
                        width: 18px;
                        height: 18px;
                        }
                    }
                    .aside-link__contacts{
                        &::before{
                            position: absolute;
                        content: '';
                        top: 2px;
                            background-image: url('../img/icons_aside/icon_aside_contacts.png');
                        background-size: 100%;
                        width: 18px;
                        height: 18px;
                        }
                    }
                    .aside-link__content{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 1px;
                            background-image: url('../img/icons_aside/icon_aside_content.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__templates{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 1px;
                            background-image: url('../img/icons_aside/icon_aside_templates.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__destintations{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 2px;
                            background-image: url('../img/icons_aside/icon_aside_destintation.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__search{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 1px;
                            background-image: url('../img/icons_aside/icon_aside_search.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__suppliers{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 1px;
                            background-image: url('../img/icons_aside/icon_aside_suppliers.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__trips{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 1px;
                            background-image: url('../img/icons_aside/icon_aside_trips.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__community{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 1px;
                            background-image: url('../img/icons_aside/icon_aside_community.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__commissions{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 1px;
                            background-image: url('../img/icons_aside/icon_aside_commissions.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__reports{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 1px;
                            background-image: url('../img/icons_aside/icon_aside_reports.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__help{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 1px;
                            background-image: url('../img/icons_aside/icon_aside_help.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .aside-link__settings{
                        &::before{
                            position: absolute;
                            content: '';
                            top: 2px;
                            background-image: url('../img/icons_aside/icon_aside_settings.png');
                            background-size: 100%;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }
}

// header

.header{
    background: $light__background;
    padding: 20px;

    border-bottom: 1px solid #aaa3a3;

    // nav

    .header-nav{
        margin-bottom: 20px;
        .header__menu-list{
            .header__menu-item{
                padding-bottom: 10px;

                transition: 1s;

                &:not(:last-child){
                    margin-right: 40px;
                }
                .header__menu-link{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #111827;
                    text-transform: uppercase;

                    padding-bottom: 10px;

                    transition: 1s;

                    border-bottom: 4px solid $light__background;
                    &:hover,
                    &:focus,
                    &:active{
                        border-bottom: 4px solid #1F2937;
                }

                    &:hover,
                    &:focus,
                    &:active{
                        font-weight: 700;
                }

                    span{
                        display: inline-block;
                        background: #DBEAFE;
                        border-radius: 4px;

                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        color: #1E40AF;

                        padding: 2px 10px;
                        margin-left: 5px;
                    }
                }
            }
        }

        .nav-button{
            width: 140;
            background: #4F46E5;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
            border-radius: 6px;

            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #fff;

            padding: 10px 20px;

            .nav-button-add{
                margin-right: 10px;
            }
        }
    }

    input[type=search]{
        position: relative;
        width: 300px;

        font-weight: 500;
        font-size: 14px;

        background: #FFFFFF;
        border: 1px solid #D1D5DB;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px 0 0 6px;
        outline: none;

        padding: 10px 20px;

        &::placeholder{
            color: #6B7280;
        }
    }

    .filter-btn{
        font-weight: 500;
        font-size: 14px;

        border: 1px solid #D1D5DB;
        border-left: none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 0 6px 6px 0;

        padding: 10px;
        margin-left: 0;

        img{
            margin-right: 10px;
        }
    }

    .header-select-list{
        border: 1px solid #D1D5DB;
        border-left: none;
        border-radius: 0 6px 6px 0;
        padding: 10px;
        outline: none;
        cursor: pointer;
        &:hover{
            color: #1E40AF;
        }
    }

    .check-btn{
        background: #fff;
        min-width: 100px;
        font-weight: 500;
        font-size: 14px;
        color:  #6B7280;;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

        padding: 10px;
    }
    .check-btn__in{
        border: 1px solid #D1D5DB;
        border-radius: 6px 0 0 6px;
    }
    .check-btn__out{
        border: 1px solid #D1D5DB;
        border-left: none;
    }
}

// modal

.modal-body{
    .modal-container{
        margin-top: 20px;

        p{
            color: #000;
            font-weight: 500;
            padding-bottom: 5px;
        }

        select{
            width: 100%;
            border: 1px solid #D1D5DB;
            border-radius: 4px;
            padding: 5px;
            outline: none;
        }

        textarea{
            width: 100%;
            border: 1px solid #D1D5DB;
            border-radius: 4px;
            outline: none;
            padding: 10px;
        }

        input[type=checkbox]{
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
    }
}

.modal-footer{
    .btn{
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
    }

    .btn-cansel{
        border: 1px solid #aaa3a3;
    }

    .btn-post{
        background: #4F46E5;
        color: #fff;
    }
}

// main

.main{
    flex: 1 1 auto;
}

// table

.table{
    width: 100%;

    thead{
        background: $light__background;

        th{
            font-size: 12px;
            text-transform: uppercase;
            padding: 10px 20px;

            input[type=checkbox]{
                width: 16px;
                height: 16px;
                align-self: center;
    
                margin-right: 20px;
            }

            label{
                font-size: 12px;
            }
        }
    }

    tbody{
        td{
            padding: 10px 20px;
        }

        .hotel{
            input[type=checkbox]{
                width: 16px;
                height: 16px;
                align-self: center;
    
                margin-right: 20px;
            }
            label{
                color: #5E5ADB;
            }
        }

        .perks{
            display: inline-block;
            background: #E1FCEF;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            color: #14804A;
            border-radius: 4px;

            padding: 2px 10px;

            .square{
                display: inline-block;
                width: 6px;
                height: 6px;
                background: #14804A;
                border-radius: 2px;

                margin-right: 5px;
            }
        }

        .amenities{
            img{
                width: 20px;
            }
        }
    }
}

// footer

.footer{
    padding: 10px 20px;
    border-top: 1px solid #aaa3a3;

    .footer-btn{
        background: #fff;
        border: 1px solid #aaa3a3;
        border-radius: 4px;
        font-size: 12px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

        padding: 7px 11px;
        margin-left: 20px;
    }
}